# Environment: local, staging, production
ENVIRONMENT=local

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_DB=fastapi

# JWT
# secret key for JWT encoding
# > openssl rand -hex 32
SECRET_KEY=changethis